.App {
  text-align: center;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

button {
  font-size: calc(10px + 1vmin);
}

table {
  width: 100%;
  border-collapse: collapse;
}

tbody td {
  padding: 0.5em;
  border-bottom: 1px solid #ccc;
  text-align: left;

}

tbody tr:hover {
  background-color: #eee;
  cursor: pointer;
}

thead th {
  padding: 0.5em;
  text-align: left;
  border-bottom: 2px solid black;
}
.inputsContainers{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.inputsContent{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.inputAdress{
  width: 100%;
  margin-bottom: 10px;

}
.inputNotes{
  width: 100%;
  height: 300px;
  margin-bottom: 10px;

}

.buttonGroup{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}